header{
    background-color: #BBBBBB;
    padding: 3vw 0;
}

.caja{
    width: 70vw;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top:108px;
    right:30px;
}

nav li {
    display: inline;
    margin: 0 0 0 3vw;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: orange;
    text-decoration: underline;
}
.productos{
    width: 70vw;
    position: relative;
    margin: 0 auto;
    padding: 3vw;
}

.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 2vw 1vw;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.productos li:hover{
    border-color: orange;
}

.productos li:hover h2{
    font-size: 33px;
}

.productos li:active{
    border-color: green;
}

.productos h2{
    font-size: 30px;
    font-weight: bold;
}

.descripcionProducto{
    font-weight: 18px;
}

.precioProducto{
    font-size: 20px;
    font-weight: bold;
    margin-top: 2vw;
}

footer{
    text-align: center;
    background: url(/imagenes/bg.jpg);
    padding: 4vw;
}

.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin: 2vw;
}